center {
    width: 420px;
    max-width: 100%;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #FF0000;
    color: white;
    padding: 10px;
    margin: 0px;
    box-shadow: 1px 1px 5px #555555;
}

h1.timerDigit {
    background-color: #D0D0D0;
    color: white;
	font-family: Courier;
	font-size: 40px;
    padding: 0px;
    margin: 0px;
	box-shadow: 0px 0px 0px #555555;
}

div.timerDigit {
    background-color: #D0D0D0;
    color: green;
	font-family: Courier;
	font-size: 40px;
	font-weight: bold;
    padding: 0px;
    margin: 0px;
	box-shadow: 0px 0px 0px #555555;
}

div.version {
    background-color: #FFFFFF;
    color: #202020;
	font-family: Courier;
	font-size: 12px;
    padding: 2px;
    margin: 5px;
	box-shadow: 0px 0px 0px #555555;
}


h3 {
    padding: 7px;
    margin: 0px;
}

h4 {
    background-color: #CCCCCC;
    color: white;
    padding: 10px;
    margin: 0px;
    box-shadow: 1px 1px 5px #555555;
}

h4.noShadow {
    box-shadow: 0px 0px 0px #555555;
}

td.timerDigit {
	text-align: center; 
	height: 80px;
	width: 80px;
}

td.timerSetting {
	text-align: center; 
	height: 60px;
	width: 80px;
}

td.timerAction {
	text-align: center; 
	height: 60px;
	width: 80px;
}

input.timerDigit {
	text-align: center; 
	font-size: 40px;
	height: 80px;
	width: 80px;
}

button.timerSetting {
    background-color: #B0B0B0;
    color: white;
	text-align: center;
	font-size: 40px;
    padding: 5px;
    margin: 0px;
	width:80px;
	height: 60px;
    box-shadow: 1px 1px 5px #555555;
}

button.timerAction {
    background-color: #909090;
    color: white;
	text-align: center;
	font-size: 20px;
    padding: 5px;
    margin: 2px;
	width:120px;
	height: 42px;
    box-shadow: 1px 1px 5px #555555;
}

ts {
    background-color: #B0B0B0;
    color: white;
    padding: 0px;
    margin: 0px;
    box-shadow: 1px 1px 5px #555555;
}

center>div {
    padding: 5px 1px 1px 1px;
    box-shadow: 1px 1px 4px #555555;
}



/* ============================= input type range ============================= */
input[type=range] {
  -webkit-appearance: none;
  margin: 5px 10px;
  width: 98%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  margin-top: -15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #FF0000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 15px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
  margin-top: -9px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #FF0000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 15px;
  border-radius: 10px;
  background: #000000;
  cursor: pointer;
}



/* ============================= input type text ============================= */
input[type=text] {
    outline: none;
    width: 95%;
    margin: 3px;
}



/* =========================== input type password =========================== */
input[type=password] {
    outline: none;
    width: 95%;
    margin: 3px;
}
